:root {
	--vp-c-brand-1: #c30045;
	--vp-c-brand-1-dark: #a30d41;
	--vp-c-brand-1-darker: #8e0837;
	--vp-c-brand-1-light: #d37a99;
	--vp-c-brand-1-lighter: #ce96aa;

	--vp-c-brand-2: #c30045;
	--vp-c-brand-2-dark: #a30d41;
	--vp-c-brand-2-darker: #8e0837;
	--vp-c-brand-2-light: #d37a99;
	--vp-c-brand-2-lighter: #ce96aa;

	--vp-c-brand-3: #c30045;
	--vp-c-brand-3-dark: #a30d41;
	--vp-c-brand-3-darker: #8e0837;
	--vp-c-brand-3-light: #d37a99;
	--vp-c-brand-3-lighter: #ce96aa;
}
